body{
    background-size: cover;
    background-position: center;
}
.heading{
    font-size: 23px;
    color: whitesmoke;
    margin: 0px;
    width: 100%;
}
 #object_detect , #status , #start{
    font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    line-height: 3;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: grey;
    box-shadow: 5px 5px 38px white;
    color: brown;
}
canvas{
    border: 5px 5px dashed red;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 1px 1px 35px yellowgreen;
}
.heading:hover{
    background-color: aqua;
    color: crimson;
}
label{
    color: moccasin;
}
#object_name{
    border-radius: 20px;
    color: brown;
    background-color: aqua;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
.heading p{
    font-size: 15px;
    color: black;
}